<template>
<div class="inputs">
  <label for="authorizeURI">Authorize URI (Beispiel: https://github.com/login/oauth/authorize)</label>
    <b-form-input v-model="authorizeURI" v-on:keyup.enter="SendRequest1" id="inputs" type="url"></b-form-input>
  <label for="clientID">Client ID</label>
    <b-form-input v-model="clientID" v-on:keyup.enter="SendRequest1" id="inputs"></b-form-input>
  <label for="scope">Scope</label>
    <b-form-input v-model="scope" v-on:keyup.enter="SendRequest1" id="inputs"></b-form-input>
  <label for="redirectURI">Redirect URI</label>
    <b-form-input v-model="redirectURI" v-on:keyup.enter="SendRequest1" id="inputs" type="url"></b-form-input>
  <label for="flow">Flow</label><br>
    <div id="radios-div">
    <b-form-radio id="radio2" v-model="selectedFlow" name="radio-inline" plain inline value="code">Code (Authorization code flow)</b-form-radio>
    <b-form-radio id="radio1" v-model="selectedFlow" name="radio-inline" plain inline value="token">Token (Implicit flow)</b-form-radio>
    </div>
  <div class="clear-button-div">
    <b-button id="clear-button" @click="clear">Clear</b-button>
  </div>
  <div class="send-button-div">
    <b-button id="send-button" @click="SendRequest1">Send Request</b-button>
  </div>
  <div class="card card-body code-block">
    <p id="generated Uri" class="card-text white-text debug__form--output">
    <span class="code-line light-blue-text">{{ authorizeURI }}<br></span>
    <span class="code-line code-line-param">?client_id=<span class="light-blue-text">{{ clientID }}</span><br></span>
    <span class="code-line code-line-param">&scope=<span class="light-blue-text">{{ scope }}</span><br></span>
    <span class="code-line code-line-param">&redirect_uri=<span class="light-blue-text">{{ redirectURI }}</span><br></span>
    <span class="code-line code-line-param">&response_type=<span class="light-blue-text">{{ selectedFlow }}</span><br></span>
    <span class="code-line code-line-param">&response_mode=<span class="light-blue-text">query</span><br></span>
    </p>
  </div>
</div>
</template>


<script>
export default {
  name: 'Inputs',
  data() {
    return {
      authorizeURI: '',
      clientID: '',
      redirectURI: '',
      scope: '',
      selectedFlow: 'code'
    }
  },

  methods: {
    SendRequest1: function() {

      // store values in data storage
      window.sessionStorage.setItem("authURI", this.authorizeURI);
      window.sessionStorage.setItem("clientID", this.clientID);
      window.sessionStorage.setItem("scope", this.scope);
      window.sessionStorage.setItem("rediURI", this.redirectURI);
      window.sessionStorage.setItem("flow", this.selectedFlow);

      // redirect to oauth provider
      window.location = `${this.authorizeURI}?client_id=${this.clientID}&redirect_uri=${this.redirectURI}&scope=${this.scope}&response_type=${this.selectedFlow}&response_mode=query`;
    },
    clear: function() {
      this.authorizeURI='';
      this.clientID='';
      this.scope='';
      this.redirectURI='';
      this.selectedFlow='code';

      // delete data from session storage
      window.sessionStorage.clear();
    }
  },

  mounted: function() {

    var tmpAuthUri = window.sessionStorage.getItem("authURI");
    var tmpclientID = window.sessionStorage.getItem("clientID");
    var tmpscope = window.sessionStorage.getItem("scope");
    var tmprediURI = window.sessionStorage.getItem("rediURI");
    var tmpflow = window.sessionStorage.getItem("flow");

    if (tmpAuthUri != null && tmpclientID != null && tmpscope != null && tmprediURI != null && tmpflow != null) {
      this.authorizeURI = tmpAuthUri;
      this.clientID = tmpclientID;
      this.scope = tmpscope;
      this.redirectURI = tmprediURI;
      this.selectedFlow = tmpflow;
    }
    this.$parent.$data.clientID_global=this.clientID;
    this.$parent.$data.rediURI_global=this.redirectURI;
    // check if values are available in session storage
    // fill data from session storage
  }
}

</script>

<style>

.inputs {
  width: 95%;
  margin-left: 2.5%;
}

#inputs {
  margin-bottom: 15px;
}

.Values {
  margin-top: 50px;
}

.code-block {
  background-color: rgba(0, 0, 0, 0.80) !important;
  font-family: Consolas, monospace;
}

.card {
  margin-top: 15px;
  margin-bottom: 10px;
}

.code-block .code-line-param:nth-child(n+2) {
  margin-left: 0px;
}

.code-line:nth-child(n+2) {
  padding-top: 4px;
}

.white-text {
  color: #FFF!important;
}

.light-blue-text {
  color: #03a9f4!important;
}

.send-button-div {
  text-align: center;
}

.clear-button-div {
  text-align: center;
  padding: 0;
}

#send-button {
  background-color: #84bd00;
  border: 0;
  margin-right: 30px;
}

#clear-button {
  margin-top: 0px;
  margin-bottom: 15px;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  float: left;
}

#send-button:hover {
  box-shadow: 0px 0px 20px 0px rgba(132,189,0,0.75);
  text-shadow: 0px 0px 15px 5px rgba(255,255,255,0.75);
}

label {
  margin: 0 !important;
}

#radios-div {
  margin-bottom: 7px;
}

</style>
