<template>
    <div class="inputs accesstokeninput">
        <label for="accesstokenURI">Access-Token URI (Beispiel: https://github.com/login/oauth/access_token)</label>
        <b-form-input v-model="accesstokenURI" v-on:keyup.enter="SendRequest2" id="inputs" type="url"></b-form-input>
        <div id="CS-CheckBox">
            <b-form-checkbox v-model="CSchecked">
                <label for="clientSecret">Client Secret</label>
            </b-form-checkbox>
            <b-form-input v-model="clientSecret" v-on:keyup.enter="SendRequest2" v-if="CSchecked"
                          id="inputs"></b-form-input>
        </div>
        <div id="CoVe-CheckBox">
            <b-form-checkbox v-model="CoVechecked">
                <label for="codeVerifier">Code Verifier</label>
            </b-form-checkbox>
            <b-form-input v-model="codeVerifier" v-on:keyup.enter="SendRequest2" v-if="CoVechecked"
                          id="inputs"></b-form-input>
        </div>
        <div id="GrTy-CheckBox">
            <b-form-checkbox v-model="GrTychecked">
                <label for="grantType">Grant Type</label>
            </b-form-checkbox>
        </div>
        <div class="clear-button-div">
            <b-button id="clear-button" @click="clear2">Clear</b-button>
        </div>
        <div class="send-button-div">
            <b-button id="send-button" @click="SendRequest2">Send Request</b-button>
        </div>
        <div class="card card-body code-block">
            <p id="generated Uri" class="card-text white-text debug__form--output">
                <span class="code-line light-blue-text">{{ accesstokenURI }}<br></span>
                <span class="code-line code-line-param">client_id=<span class="light-blue-text">{{ this.$parent.$data.clientID_global }}</span><br></span>
                <span class="code-line code-line-param">redirect_uri=<span class="light-blue-text">{{ this.$parent.$data.rediURI_global }}</span><br></span>
                <span class="code-line code-line-param">code=<span class="light-blue-text">{{ this.$parent.$data.AuthCode_global }}</span><br></span>
                <span class="code-line code-line-param" v-if="CSchecked">client_secret=<span class="light-blue-text">{{ clientSecret }}</span><br></span>
                <span class="code-line code-line-param" v-if="CoVechecked">code_verifier=<span class="light-blue-text">{{ codeVerifier }}</span><br></span>
                <span class="code-line code-line-param" v-if="GrTychecked">grant_type=<span class="light-blue-text">{{ GrantType }}</span><br></span>
            </p>
        </div>
        <div class="container mainsuccess" id="outputs2" v-if="successful">
            <img id="haken" src="../assets/haken.jpg">
            <p>Access Token:</p>
            <div class="card card-body code-block" id="card2">
                <p id="generated Code" class="card-text white-text debug__form--output">
                    <span class="code-line code-line-param">access_token=<span class="light-blue-text">{{ actualAccessToken }}</span></span><br>
                    <span class="code-line code-line-param" v-if="withIdToken">id_token_header=<span class="light-blue-text">{{ this.parsedIdTokenHeader }}</span></span><br>
                    <span class="code-line code-line-param" v-if="withIdToken">id_token_data=<span class="light-blue-text">{{ this.parsedIdTokenData }}</span></span><br>
                    <span class="code-line code-line-param" v-if="withIdToken">id_token_signature=<span class="light-blue-text">{{ this.parsedIdTokenSignature }}</span></span><br>
                    <span class="code-line code-line-param" v-if="withIdToken">token_type=<span class="light-blue-text">{{ TokenType }}</span></span><br>
                    <span class="code-line code-line-param" v-if="withIdToken">expires_in=<span class="light-blue-text">{{ expiresIn }}</span></span>
                </p>
            </div>
        </div>
        <div id="error2" v-if="error">
            <img id="wrong" src="../assets/wrong.jpg">
            <div class="card card-body code-block">
                <p id="generated Uri" class="card-text white-text debug__form--output">{{ errorDesc }}</p>
                <div>
                    <b-button v-b-toggle.collapse-1>Complete Error Data</b-button>
                    <b-collapse id="collapse-1" class="mt-2">
                        <p class="card-text white-text">{{ errorDescComplete }}</p>
                    </b-collapse>
                    </b-collapse>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'TokenEndpoint',
        data() {
            return {
                accesstokenURI: '',
                clientSecret: '',
                successful: false,
                error: false,
                actualAccessToken: '',
                actualIdToken: '',
                parsedIdTokenHeader: {},
                parsedIdTokenData: {},
                errorDesc: '',
                errorDescComplete: '',
                CSchecked: false,
                GrTychecked: false,
                GrantType: 'authorization_code',
                CoVechecked: false,
                codeVerifier: '',
                TokenType: '',
                expiresIn: '',
                withIdToken: false
            }
        },
        methods: {
            SendRequest2: function () {

                // store values in data storage
                window.sessionStorage.setItem("actoURI", this.accesstokenURI);
                window.sessionStorage.setItem("clientSecret", this.clientSecret);
                window.sessionStorage.setItem("CoVe", this.codeVerifier);

                const self = this;

                // ToDo: store token-uri

                // send post request to token endpoint
                this.$axios.post("http://localhost:8000", {
                        accesstokenURI: this.accesstokenURI,
                        client_id: this.$parent.$data.clientID_global,
                        redirect_uri: this.$parent.$data.rediURI_global,
                        client_secret: this.clientSecret,
                        code: this.$parent.$data.AuthCode_global,
                        code_verifier: this.codeVerifier,
                        grant_type: this.GrantType
                    },
                    {
                        headers: {
                            'Access-Control-Allow-Origin': '*'
                        }
                    }
                )
                .then(function (response) {
                    console.log(response);
                    self.error = false;

                    if (response.data.access_token) {
                        self.actualAccessToken = response.data.access_token;
                        self.$parent.$data.AccTok_global = self.actualAccessToken;
                        self.successful = true;
                    } else {
                        const data = {}
                        response.data.split('&').forEach((item) => {
                            const kv = item.split('=')
                            data[kv[0]] = kv[1]
                        })
                        self.actualAccessToken = data.access_token;
                        self.$parent.$data.AccTok_global = self.actualAccessToken;
                        self.successful = true;
                    }

                    if (response.data.id_token) {
                        self.withIdToken = true;
                        self.actualIdToken = response.data.id_token;
                        let token = self.actualIdToken;

                        // JWS header
                        let base64Header = token.split('.')[0];
                        self.parsedIdTokenHeader = JSON.parse(
                            decodeURIComponent(atob(base64Header).split('').map(function (c) {
                                return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
                            }).join('')));

                        // JWS body
                        let base64Url = token.split('.')[1];
                        let base64 = decodeURIComponent(atob(base64Url).split('').map(function (c) {
                            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
                        }).join(''));
                        self.parsedIdTokenData = JSON.parse(base64);

                        // JWS signatur
                        let base64Signature = token.split('.')[2];
                        let base64Sig = decodeURIComponent(atob(base64Header).split('').map(function (c) {
                            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
                        }).join(''));
                        self.parsedIdTokenSignature = JSON.parse(base64Sig);

                        //self.actualIdToken = self.parsedIdTokenHeader+self.parsedIdTokenData+self.parsedIdTokenSignature;


                        self.TokenType = response.data.token_type;
                        self.expiresIn = response.data.expires_in;
                    }

                    if (self.error) {
                        self.error = true;
                        self.errorDesc = response.data;
                    }
                })
                .catch(function (error) {
                    console.log(error);
                    self.errorDesc = error.response.data.message;
                    self.errorDescComplete = error.response.data;
                    self.successful = false;
                    self.error = true;
                });
            },

            clear2: function () {
                this.accesstokenURI = '';
                this.clientSecret = '';
                this.codeVerifier = '';
                this.successful = false;
                this.error = false;
                // delete data from session storage
                window.sessionStorage.clear();
            }
        },

        mounted: function () {

            var tmpactoUri = window.sessionStorage.getItem("actoURI");
            var tmpclientsecret = window.sessionStorage.getItem("clientsecret");
            var tmpCoVe = window.sessionStorage.getItem("CoVe");

            if (tmpactoUri != null && tmpclientsecret != null && tmpCoVe != null && tmpcode2 != null) {
                this.accesstokenURI = tmpactoUri;
                this.clientSecret = tmpclientsecret;
                this.codeVerifier = tmpCoVe;
            }
            // check if values are available in session storage
            // fill data from session storage
        }
    }
</script>

<style>

    #error2 {
        text-align: center;
    }

    #outputs2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #GrTy-CheckBox {
        margin-bottom: 15px;
    }

</style>
