<template>
  <div class="inputs container infomaindiv">
    <label for="userinfoUrl">Userinfo Url (Beispiel: https://api.github.com/user)</label>
    <b-form-input v-model="userinfoUrl" v-on:keyup.enter="GetUserInfo" id="inputs"></b-form-input>
    <div class="send-button-div send3">
          <b-button class="get-button" id="send-button" @click="GetUserInfo">Get</b-button>
    </div>
    <div class="card card-body code-block">
      <p id="generated Uri" class="card-text white-text debug__form--output">
        <span class="code-line light-blue-text">{{ this.userinfoUrl }}<br></span>
        <span class="code-line code-line-param">access_token=<span class="light-blue-text">{{ this.$parent.$data.AccTok_global }}</span><br></span>
      </p>
    </div>
    <div v-if="show">
      <div  v-if="successful">
      <p>Userinfo:</p>
      </div>
      <div class="resultTable">
      <div>
        <b-tabs content-class="mt-3">
          <b-tab title="TABLE" active>
            <b-table class="table-container" :items="Object.entries(this.result).map(([key, value]) => ({key, value}))"></b-table>
          </b-tab>
          <b-tab title="JSON">
            <div class="card card-body code-block">
            <p id="generated Uri" class="card-text white-text debug__form--output">{{ this.result }}</p>
            </div>
          </b-tab>
        </b-tabs>
      </div>


      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'TokenEndpoint',
    data() {
      return {
        userinfoUrl: '',
        successful: false,
        error: false,
        result: '',
        show: false
      }
    },
    methods: {
      GetUserInfo: function() {

        const self=this
        if (self.$parent.$data.AccTok_global!='' && self.userinfoUrl!='') {
        this.$axios.get(this.userinfoUrl, {
          headers: {
            'Authorization': `Bearer ${this.$parent.$data.AccTok_global}`
          }
        })
        .then(function (response) {
          console.log(response);
          self.result=response.data;
          self.successful=true;
          self.error=false;
          self.show=true;
          self.$parent.$data.successOIDC=true;
        })
        .catch(function (error) {
          console.log(error);
          self.result=error.response.data;
          self.successful=false;
          self.error=true;
          self.show=true;
        });
        }
      }
    }
  }
</script>

<style>

  .send3 {
    margin-left: 30px;
  }

  .resultTable {
    height: 588px;
    overflow-y: scroll;
  }

  .nav-link {
    color: black;
  }

  .nav-link:hover {
    color: #333333;
  }

</style>
