<template>
  <div id="app">
    <header>
      <img id="Logo" src="./assets/ic_consult_logo_rgb.svg">
      <div class="headline">
        <h1>OAuth2 Debugger</h1>
      </div>
    </header>
    <div class="row" id="maindiv">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="mainbig">
      <div v-bind:class="{ 'successbg': successOAUTH }" id="bigcolumn">
        <h2>OAuth</h2>
        <div class="row" id="rowc12">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6" id="fp">
          <div class="column column1" id="column1">
            <div class="headline2">
              <h2>Authorization</h2>
            </div>
            <Inputs/>
            <Outputs/>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6" id="fp">
          <div class="column column1" id="column2">
            <div class="headline2">
              <h2>Token-Endpoint</h2>
            </div>
            <TokenEndpoint/>
          </div>
        </div>
        </div>
      </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="mainsmall">
      <div v-bind:class="{ 'successbg': successOIDC }" id="smallcolumn">
        <h2>OIDC</h2>
        <div class="column column2" id="column3">
          <div class="headline2">
              <h2>Userinfo</h2>
          </div>
          <UserInfo/>
        </div>
      </div>
      </div>
    </div>
  </div>
</template>

<script>
import Inputs from './components/Inputs.vue'
import Outputs from './components/Outputs.vue'
import TokenEndpoint from './components/TokenEndpoint.vue'
import UserInfo from './components/UserInfo.vue'

export default {
  name: 'app',
  components: {
    Inputs,
    Outputs,
    TokenEndpoint,
    UserInfo
  },
  data () {
    return {
      successOAUTH: false,
      successOIDC: false,
      clientID_global: '',
      AuthCode_global: '',
      AccTok_global: '',
      rediURI_global: ''
    }
  }
}
</script>

<style>
#app {
  position: absolute;
  width: 100%;
  padding: 1%;
  margin-bottom: 0;
}

header {
  text-align: center;
  padding: 10px;
  border-radius: 20px;
}

.headline {
  text-align: center;
}

h1 {
  color: #636362;
}

.headline2 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

#Logo {
  width: 50%;
}

body {
  margin: 0;
}

#maindiv {
  border-radius: 20px;
  margin: 0;
  padding: 0;
}
#mainbig {
  padding: 1%;
}

#mainsmall {
  padding: 1%;
}

#rowc12 {
  width: 100%;
  margin: 0;
  padding: 0;
}

.column {
  margin-bottom: 5px;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.column1 {
  height: 100%;
  width: 100%;
  padding-top: 2%;
}

.column2 {
  width: 100%;
  padding-bottom: 1px;
  padding-top: 2%;
}

#bigcolumn {
  background-color: grey;
  padding: 2%;
  margin-bottom: 0 !important;
  border-radius: 20px;
}

#smallcolumn {
  background-color: grey;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  padding: 3%;
  border-radius: 20px;
}

.successbg {
  background-color: #84bd00 !important;
}

#fp {
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 2%;
}

</style>
